#new-todo {
    width: 100%;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
}

.check{
    flex-basis: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(237, 14%, 26%);
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-mark img {
    visibility: hidden;
}

.check-mark.checked img, .check-mark:hover img {
    visibility: visible;
}

.check-mark:hover {
    border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

.check-mark.checked {
    background-color: pink;
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

#new-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#new-input input {
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    color: hsl(234, 39%, 85%);
}

#new-input form {
    flex-grow: 1;
    display: flex;
}

#new-input input::placeholder {
    color: hsl(233, 14%, 35%);
}
li {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: hsl(234, 39%, 85%);
}


.todo-item {
    width: 100%;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    display: flex;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    cursor: pointer;
    transition: all .25s ease;
    transition-property: box-shadow, transform, border-color;
}

#todo-wrapper {
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background-color: hsl(235, 24%, 19%);
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
    margin-bottom: 30px;
}

#todo-info {
    width: 100%;
    height: 70px;
    background-color: hsl(235, 24%, 19%);
    display: flex;
    align-items: center;
    color: hsl(233, 14%, 35%);
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

#items-statuses {
    display: flex;
    justify-content: center;
}

#items-statuses span  {
    padding: 0 4px;
    cursor: pointer;
}

#items-clear {
    cursor: pointer;
    text-align: end;
}

#items-statuses span:hover, #items-clear:hover {
    color: hsl(220, 98%, 61%);
}

#items-statuses .click  {
    color: hsl(220, 98%, 61%);
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
}

.crossDiv  {
    display: flex;
    align-items:center;
    margin-left: auto;
    margin-right: 20px;
    opacity: 0.0;
}

.crossDiv:hover {
    opacity: 1.0;
}