@font-face{
    src: url("../font/JosefinSans-Regular.ttf");
    font-family: regular;
}
@font-face{
    src: url("../font/JosefinSans-Bold.ttf");
    font-family: bold;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#theme-dark {
    --bg-image:url(../images/desktop-dark.jpg) ;
    --icon :url(../images/icon-sun.svg) no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow :hsl(235, 21% ,11%);
    --font-color: hsl(234, 39%, 85%);
    --border : hsl(237, 14%, 26%);
    --info :hsla(240, 14%, 71%, 0.801);
}

#theme-light {
    --bg-image: url(../images/desktop-light.jpg) ;
    --icon :url(../images/icon-moon.svg)  no-repeat;
    --main-bg: hsla(0, 0%, 97%, 0.952);
    --todo-bg: hsl(0, 0%, 98%);
    --todo-shadow :hsl(233, 13%, 88%);
    --font-color: hsl(240, 13%, 15%);
    --border : hsl(240, 8%, 80%);
    --info: hsl(233, 14%, 35%);
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--main-bg);
    font-family: regular;
    
}

   #background-img{
    background-image : var(--bg-image) ;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 45vh;
    top: 0; 
    right:0;
    left: 0;
    z-index: -1;
    display: inline;
}

 #icon{
    background:var(--icon) ;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

#container{
    width: 600px;
    margin: 0 20px;
    
}

header{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 10px;
    font-family: bold;
} 

h1{
    color: #fff;
    font-size: 50px;
   text-transform: uppercase;
}
  
   #new-todo {
    width: 100%;
    height: 70px;
    background-color: var(--todo-bg);
    margin-top: 50px;
    border-radius: 6px;
    display: flex;
}


.check{
    flex-basis: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-item , .check-marks {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--border);
    transition: all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-marks img {
    visibility: hidden;
}

.check-marks.checked img, .check-marks.cheked:hover img {
    visibility: visible;
}

.check-marks:hover, #add-item:hover {
    border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

.check-marks.checked{
    background-color: pink;
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

#new-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#new-input input {
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
}

#new-input form {
    flex-grow: 1;
    display: flex;
}

#new-input input::placeholder {
    color: hsl(233, 14%, 35%);
}

.text{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--font-color);
}

li.completed .text{
    text-decoration: line-through;
    color: hsl(234, 10%, 41%);
    }
   

.todo-item {
    width: 100%;
    height: 70px;
    background-color: var(--todo-bg);
    display: flex;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    transition: all .25s ease;
    transition-property: box-shadow, transform, border-color;
}

#todo-wrapper {
    margin-top: 30px;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--border);
    box-shadow:  0 42px 30px -9px var(--todo-shadow);
    margin-bottom: 30px;
}

#todo-info {
    width: 100%;
    height: 70px;
    background-color: var(--todo-bg);
    display: flex;
    align-items: center;
    color: var(--info);
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    position: relative;
}


#items-statuses {
    display: flex;
    justify-content: center;
}

#items-statuses span  {
    padding: 0 4px;
    cursor: pointer;
}

#items-clear {
    cursor: pointer;
    text-align: end;
}

#items-statuses span:hover, #items-clear:hover {
    color: hsl(220, 98%, 61%);
}

#items-statuses .click  {
    color: hsl(220, 85%, 68%);
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow:0px 2px 30px 0px var(--main-bg);
    border-color:var(--todo-bg);
}

.crossDiv  {
    display: flex;
    align-items:center;
    margin-left: auto;
    margin-right: 20px;
    opacity: 0.0;
}

.crossDiv:hover {
    opacity: 1.0;
}